{% extends "base.html" %}

{% block content %}
    <section id="contact">
        <h2>Contact Us</h2>
        <div class="contact-info">
            <div class="map">
                <!-- Replace "your_map_url" with the URL of your embedded map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19973.078879250133!2d-1.0946651229484954!3d51.262632036960966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487421947dce3b29%3A0x86b03b721367921f!2sTempus%20Business%20Centre!5e0!3m2!1sen!2suk!4v1707561623781!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="address">
                <h3>Address:</h3>
                <p>123 Main Street</p>
                <p>City, State, Zip Code</p>
                <p>Country</p>
            </div>
            <div class="email">
                <h3>Email:</h3>
                <p>example@example.com</p>
            </div>
        </div>
    </section>
{% endblock %}
